body {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-flow: column;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-flow: column-reverse;
  }
}
