.white-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 901px;
}

.cross {
  background-color: rgba($color: #000000, $alpha: 0);
  position: absolute;
  top: 22px;
  right: 22px;
}

.logo {
  margin-top: 72px;
}

.book-text {
  margin: 16px 0 32px;
  h1 {
    font-family: "Faktum";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.02em;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}

.thanks-text {
  margin: 220px 0 32px;
}

.submit-description {
  margin: -16px 160px 32px;
  p {
    // font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #707070;
  }
}

.form {
  margin: 0 160px;

  .hidden {
    display: none;
  }
  .shown {
    display: block;
  }

  // .form__group
  &__group {
    margin-bottom: 16px;
  }

  // .form__label
  &__label {
    display: inline-block;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #111111;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    span {
      color: #b8b8b8;
    }
  }

  // .form__input
  &__input {
    width: 100%;
    height: 40px;
    padding: 10px 16px;
    background: #f1f2f5;
    border-radius: 10px;
    border: #f1f2f5 1px solid;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #3b3b3b;
  }

  &__input.optional {
    height: 120px;
    resize: none;
  }
  &__input.filled {
    background-color: white;
  }

  // .form__name-field
  &__two-field {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  &__checkbox {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    margin-bottom: 16px;
    border: #f1f2f5 1px solid;
    border-radius: 10px;
    gap: 16px;

    .checkbox-item {
      padding-top: 2px;

      input {
        accent-color: #3c37ff;
        border: #f1f2f5 1px solid;
      }
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.01em;
      color: #3b3b3b;
    }
  }
}

.button-book {
  margin-top: 16px;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background: #3c37ff;

  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
}

.privacy {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  p {
    color: #707070;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.01em;
    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
