* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.black-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 901px;
}

.background {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #0a0a0a;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.title {
  margin: 120px 89px 24px;
}
.title h3 {
  font-family: "Faktum";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 110%;
  text-align: center;
  color: #fafafa;
}

.description {
  margin: 0 150px 64px;
}
.description p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #b8b8b8;
}

.card {
  margin: 0 108px;
  padding: 24px;
  width: 100%;
  max-width: 504px;
  height: 272px;
  background-color: #f1f2f5;
  border-radius: 12px;
  border: #dfdfdf 1px solid;
}
.card__header {
  display: flex;
}
.card__header-slash {
  margin: 0 18px 0 16px;
}
.card__header-flag {
  margin-right: 8px;
}
.card__text {
  margin: 24px 0 48px;
}
.card__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #0a0a0a;
  opacity: 0.6;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.card__footer {
  display: flex;
  align-items: center;
}
.card__footer img {
  margin-right: 12px;
}
.card__footer p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #111111;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 40px;
}

.white-area {
  width: 50%;
}